.work-section-container.content-fluid
    h2.text-center.title-bottom-margin= 'Work'
    .row
        .work.col-lg-4
            .row                        
                .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1.col-md-2.col-md-offset-2.col-lg-4.col-lg-offset-0
                    img.work-circle-image.img-circle(src=workItemImageSrc01 alt="Photo of Dr Sanders")
                .col-xs-8.col-xs-offset-2.col-sm-7.col-sm-offset-0.col-md-6.col-lg-8
                    h3= 'Internship'
                    p 
                        |Internship as a research assistant was an incredible experience. It helped me develop not only my research ability for 
                        a(href='http://katesohng.net/blog/index.php/2016/10/23/sub-project-stronger/' target='_blank')= 'real world problems'
                        | but also a lot of technology such as
                        a(href='http://faculty.washington.edu/michamc/lab/autonets_bracelet/' target='_blank')= ' 3D design and printing, and prototyping.'
                                      
        .work.col-lg-4
            .row
                .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1.col-md-2.col-md-offset-2.col-lg-4.col-lg-offset-0
                    img.work-circle-image.img-circle(src=workItemImageSrc02 alt="Photo of webdesign")
                .col-xs-8.col-xs-offset-2.col-sm-7.col-sm-offset-0.col-md-6.col-lg-8
                    h3= 'Web Design'
                    p 
                        |I worked as a 
                        a(href='http://katesohng.com/portfolio-2015/portfolio_hands_on_bg.html' target='_blank')= 'web graphic degigner'
                        | in a web development team for
                        a(href='http://www.koreadepart.com/' target='_blank')= ' an online e-commerce company'
                        | in Busan, South Korea. I developed my web coding skills and found that I had an interest in web programming. Additionally, I experienced many times how important teamwork is to achieving a shared goal.

        .work.col-lg-4
            .row
                .col-xs-6.col-xs-offset-3.col-sm-3.col-sm-offset-1.col-md-2.col-md-offset-2.col-lg-4.col-lg-offset-0
                    img.work-circle-image.img-circle(src=workItemImageSrc03 alt="Photo of Graphic Design")
                .col-xs-8.col-xs-offset-2.col-sm-7.col-sm-offset-0.col-md-6.col-lg-8
                    h3= 'Graphic Design'
                    p 
                        |My life with graphic design started by applying to an institute where people can learn web and 
                        a(href='http://katesohng.com/portfolio-2015/portfolio_posters.html' target='_blank')= 'graphic design'
                        | I loved it, since it reconnected me with my dream of color and storytelling existing together!